@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Russo+One');
/*-------------------------------------------------------------
Variables
--------------------------------------------------------------*/
:root {
  --background: #F1E1C7;
  --red: #CC4D3E;
  --black: #a19090;
  --black-dark: #4d4848;
  --white: #e1edee;
  --number: #464540;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: var(--background-dark);
}

/*--------------------------------------------------------------
Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
  font-family: 'Roboto';
  font-size: 18px;
  line-height: 1.5;
}

h1,
h2,
h3 {
  clear: both;
}

p {
  margin-bottom: 1.5em;
}

/*--------------------------------------------------------------
General styling
--------------------------------------------------------------*/
img {
  display: block;
  border: 0;
  width: 100%;
  height: auto;
}

/* ------------------------------------------------------------
Style
------------------------------------------------------------- */
.wrapper {
  min-width: 360px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  height: 80vh;
  width: 60vh;
  min-width: 345px;
  color: white;
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
  grid-template-rows: 1fr 5fr 2fr;
  background-color: var(--background);
  border: 1px solid var(--black);
  color: black;
}

.space-top {
  grid-area: 1 / 1 / 2 / 4;
}

.square {
  display: grid;
  grid-template-columns: 0.8fr 1fr 2.5fr;
  grid-template-rows: 2fr 2.5fr 4fr 1.2fr; 
  grid-area: 2 / 2 / 3 /3;
  border: 1px solid var(--black);
}

.square__slanted-text {
  font-family: 'Russo One', sans-serif;
  font-size: 0.5rem;
  display: flex;
  grid-area: 2 / 1 / 3 / 2;
  align-items: flex-end;
  justify-content: center;
  transform: rotate(-35deg);
  font-weight: bold;
  text-transform: capitalize;
  color: var(--black-dark);
}

.square__number-two {
  grid-area: 2 / 2 / 4 / 3;
  line-height: 0.8;
  text-align: center;
  color: var(--number);
}

.square__red-square {
  grid-area: 3 / 3 / 4 / 4;
  background-color: #CC4D3E;
  margin: 0 10% 0 3%;
}

.space-down {
  font-size: 0.4rem;
  grid-area: 3 / 1 / 4 / 4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Russo One', sans-serif;
  color: var(--black-dark);
}

.bottom-text__down {
  transform: translateY(20px) rotate(58deg);
}

.bottom-text__up {
  transform: translateX(11px) rotate(-30deg);
}
